@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid bg-light py-5">
    <div class="container text-center">
        <h1 class="display-4 text-primary">Welcome to the Human Resources Management app!</h1>
        <p class="lead text-muted">Enjoy a better experience by logging in and starting to manage your resources!</p>

        <img src="https://t3.ftcdn.net/jpg/02/14/78/50/360_F_214785002_OlxmM6zyErRmXWetya322nSdpWjPy2yC.jpg" alt="Human Capital Management" class="img-fluid my-4" />
    </div>
</div>
